.mota {
    padding-top: 6px;
}
.thongtin {
    padding-top: 30px;
}
.thongtin1 {
    padding-top: 109px;
}
.container1 {
    position: relative;
}
.mobile-cover1 {
    border: 1px solid gray;
    padding-left: 24px;
    height: 180px;
    z-index: 1;
    display: none;
}

.hienra1
{
   display: block;
}
.mobile-cover1:hover
{
    background: gray;
    color: white;
}