body
{
    background: white;
}
.menu
{
    position: relative;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.Black1
{
    height: 54px;
    width: 391px;
    background-color: black;
    position: relative;
    margin: 0px 0px 0px 58px;
}
.menu .text-laptop
{
    position: absolute;
    left: 98px;
    top: -4px;
    color: blue;
    FONT-SIZE: 17px;
}
.menu .text-laptop1
{
    position: absolute;
    left: 51px;
    top: -4px;
    color: blue;
    FONT-SIZE: 17px;
}
.coure-image
{
    margin-left: -15px;
}
.image-top
{
    position: relative;

}
.image-top .image-con1 .image-con1-1
{
    height: 76px;
    width: 100%;
}
.image-con1
{
    /* position: absolute; */
}
.image-top .image-con2 .image-con2-2
{
    height: 76px;
    width: 100%;
}
.image-con2
{
    /* position: absolute;
    top: 87px; */
    padding-top: 10px;
}
.khung
{
    height: 44px;
    width: 100%;
    margin-left: -15px;
    border: 1px solid #d9d9d9;
    
}
.khung .khung-macbook
{
    height: 44px;
    width: 14.28%;
    border-right: 1px solid #d9d9d9;
    float: left;
}
.khung .khung-macbook .image-macbook
{
    padding-left: 16px;
    padding-top: 5px;
}
.khung .khung-macbook .image-hp
{
    padding-left: 38px;
    padding-top: 5px;
}
.khung-nhucau
{
    height: 200px;
    width: 103%;
    margin-left: -15px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.khung-nhucau .text-chonlaptop
{
    padding-top: 6px;
    font-size: 16px;
}
.khung-nhucau .khung-nhucau-laptop1
{
    width: 20%;
    height: 161px;
    float: left;
}
.khung-nhucau .khung-nhucau-laptop1 .khung-nhucau-laptop1-laptop
{
    width: 92%;
    height: 130px;
}
