.mobile .khungheader {
    width: 100%;
    height: 100px;
    background: black;
    position: relative;
}
.mobile .khungheader .mobile-logo .logo-ptit
{
    width: 55px;
    height: 55px;
}
.mobile .khungheader .mobile-logo
{
    padding-top: 21px;
    padding-left: 51px;
}
.mobile .khungheader .mobile-search
{
    position: absolute;
    left: 184px;
    top: 23px;
}
.mobile .khungheader .mobile-search .mobile-input
{
    width: 265%;
    height: 53px;
}
.mobile .khungheader .mobile-search .mobile-btn
{
    
    position: absolute;
    left: 420px;
    top: 0px;
    height: 53px;
}
.mobile .icon-menu {
    color: white;
    font-size: 51px;
    position: absolute;
    right: 131px;
    top: 24px;
}
.mobile-icon-phone1 {
    font-size: 81px;
}
.mobile-icon-phone {
    padding-left: 60px;
    padding-top: 15px;
}
.mobile-txticon {
    font-size: 40px;
    padding-top: 7px;
}
.mobile-cover {
    border: 1px solid gray;
    padding-left: 24px;
    height: 180px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}
.andi 
{
    opacity: 0;
}
.hienra
{
    opacity: 1;
    visibility: visible;
}
.mobile-cover:hover
{
    background: gray;
    color: white;
}
.mobile-txticon1 {
    font-size: 39px;
    padding-top: 50px;
}
.mobile-txticon2 {
    font-size: 39px;
    padding-top: 26px;
    padding-left: 12px;
}
.container-fluid.mobile.slide-position {
    padding-top: -52px;
    position: absolute;
    top: 116px;
}
.container-fluid.mobile.mobile-position {
    
    background: whitesmoke;
}
.mobile-image5
{
    width: 952px;
}
.slide-image1
{
    width: 956px;
}
.container-fluid.mobile.mobile-sp {
    position: relative;
}
.txt-information {
    font-size: 54px;
    padding-left: 0px;
    padding-bottom: 31px;
    color: blue;
    position: absolute;
    top: -108px;
}
.khungsp5 {
    border: 1px solid gray;
    background: white;
    width: 489px;
}
.tenspapi {
    font-size: 29px;
    padding-top: 14px;
}
.giaspapi {
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 16px;
}
.mobile-sp {
    padding-top: 22px;
}
.footer-mobile{
    position: absolute;
    bottom: -1128px;
}