.header-navcustom {
    position: relative;
}
body{
    background: #f0f0f0;
}
@media (min-width: 500px)
{
    .covervitri {
        padding-left: 0px;
    }
    .mobile
    {
        display: block;
    }
    
    .destop
    {
        display: none;
    }
    .img-sp5 {
        width: 122%;
        margin-left: -56px;
    }
    .splq {
        font-size: 44px;
        color: blue;
        padding-top: 10px;
        padding-bottom: 34px;
    }
    .tendt5 {
        font-size: 37px;
        padding-top: 17px;
        padding-bottom: 23px;
    }
    .mota {
        font-size: 35px;
    }
    .mota1 {
        font-size: 35px;
    }
    .btn-txt {
        font-size: 40px;
    }
    .thongtin {
        font-size: 35px;
    }
}
@media (min-width: 1200px)
{
    .covervitri {
        padding-left: 0px;
    }
    .img-sp5 {
        width: 100%;
    }
    .img-sp6 {
        width: 100%;
    }
    .tendt5 {
        font-size: 15px;
        padding-top: 26px;
    }
    .mota {
        font-size: 14px;
    }
    .mota1 {
        font-size: 14px;
    }
    .thongtin {
        font-size: 14px;
    }
    .btn-txt {
        font-size: 14px;
    }
    .splq {
        font-size: 21px;
        color: blue;
        padding-bottom: 24px;
    }
    .destop
    {
        display: block;
    }
    .mobile
    {
        display: none;
    }
}

.colsetting {
        position: absolute;
        right: 32px;
    }



    footer {
        width: 100%;
    }


.Black {
    /* height: 54px;
    width: 433px;
    background-color: black;

    position: relative;
    margin: 0px 0px 0px 32px; */
    height: 54px;
    width: 421px;
    background-color: black;
    position: relative;
    margin: 0px 0px 0px 33px;
}
.header-search {
    width: 80%;
    height: 33px;
    position: absolute;
    right: 8px;
    top: 10px;
}
.header-navcustom {
    background-color: #fed700;
    width: 100%;
    height: 55px;
}
.position-search{
    position: absolute;
    right: 8px;
    top: 10px;
    height: 33px;
    background: white;
}
.position-image{
    position: absolute;;
    top: 9px;
}
/* Cấu hinh các icon */
.bigheader
{
    position: relative;
}
.bigicon {
    position: absolute;
    left: 502px;
    top: 0px;
}
.navbar .row a 
{
    float: left;
    display: inline-block;
    padding: 6px 12px 0px 6px;
    text-align: center;
    cursor: pointer;
    color: #000;
    
    transition: all 0.5s;
}
.navbar .row a:hover
{
    background: white;
    height: 53px;
}
.icon-phone {
    font-size: 29px;
    display: block;
}
.text-phone
{
    font-size: 12px;
}
.simso
{
    border-left: 1px solid rgba(0,0,0,.1);
}
.simsocon
{
    padding-left: 5px;
}
   /* Slide image */
.content
{
    padding-left: 63px;
    position: relative;
   
}
.slide-image
{
    width: 800px;
    height: 300px;
}
.div-image
{
    width: 800px;
    height: 360px;

}
.div-image .khungtranga .khuyenmai
{
    float: left;
    display: inline-block;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.1);
}
.div-image .khungtranga .khuyenmai .ndkhuyenmai
{
    font-size: 13px;
    line-height: 1.3em;
    color: black;
    width: 159px;
    text-transform: capitalize;
    padding-top: 6px;
}
.colsetting .panel-header
{
    position: relative;
    height: 41px;
    background: white;
}
.colsetting .panel-header .tincongnghe
{
    width: 140px;
    height: 40px;
    background: #fed700;
    margin-left: -14px;
    text-align: center;
}
.colsetting
{
    width: 446px;
    height: 129px;
    border-bottom: 1px solid #D8D8D8;
    
    background: white;
    
}
.colsetting .panel-header .tincongnghe p
{
    padding-top: 10px;
}
.panel-header a
{
    float: left;
    display: inline-block;
    cursor: pointer;
}
.panel-header .notice-red
{
    position: absolute;
    color: red;
    right: 0px;
    width: 233px;
    font-size: 14px;
}
.sony
{
    position: relative;
}
.sony .sony-image
{
    position: absolute;
    top: 10px;
    left: 0px;

}
.sony .float-left
{
    position: absolute;
    font-size: 16px;
    width: 264px;
    right: 20px;
    top: -5px;
    color: #000;
}
.sony .float-span
{
    position: absolute;
    bottom: -78px;
    left: 130px;
}
a{cursor: pointer;}
.closetting-body
{
    position: absolute;
    left: 0px;
    top: 134px;
}
.closetting-body2
{
    position: absolute;
    left: 0px;
    top: 240px;
}
.image2
{
    padding-left: 45px;
}
.container-fluid .row .image-3
{
    width: 1303px;
    height: 500px;
    padding-left: 44px;
    position: relative;
}
.carousel-inner .item .image-phone-small
{
    width: 200px;
    float: left;
    display: inline-block;
    margin-left: 45px;
    margin-top: 45px;
    position: relative;
}
.carousel-inner .item .price
{
    color: red;
}

.container-fluid .row .image-3 .boder-slide
{
    border: #ff4d00 solid 1px;
}
.container-fluid .row .image-3 .text-product-phone
{
    z-index: 1;
    text-transform: uppercase;
    width: 338px;
    height: 45px;
    background:#ff4d00;
    position: absolute;
    left: 475px;
    top: 23px;
    position: relative;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius :30px;
    border-bottom-right-radius :30px;
    color: white;
}
.container-fluid .row .image-3 .text-product-phone .giasoc
{
    position: absolute;
    top: -9px;
    left: 45px;
}
footer .footer-tgdd ul li
{
    list-style: none;
    padding-top: 18px;
}
footer .footer-tgdd ul
{
    float: left;
}

footer .footer-tgdd .ul1
{
    padding-left: 50px;
}
footer .footer-tgdd .ul2
{
    padding-left: 200px;
}
footer 
{
    
    height: 207px;
    background: white;
    padding-bottom: 125px;
}
.khungsp
{
    /* width: 1283px; */
    width: 1267px;
    height: 815px;
    background: white;
    margin-left: 41px;
    margin-top: -58px;
}
.khungsp .khungspheader
{
    width: 100%;
    height: 48px;
    background: white;
    border-bottom: 1px solid #eee;
    position: relative;
}
.khungsp .khungspheader .dtnoibat
{
    padding-left: 11px;
    padding-top: 4px;
    color: black;
    
}
.khungsp .khungspheader .dssp
{
    position: absolute;
    top: 15px;
    right: 45px;
}
.khungsp .khungspheader .dssp a
{
    padding-left: 22px;
    font-size: 14px;
    color: #288ad6;
}
.khungsp .khungsptop {
    width: 103%;
    height: 376px;
    border-bottom: 1px solid #eee;
    /* background: blue; */
}
.khungsptop .homeproduct .feature .img-feature
{
    width: 500px;
    height: 275px;
}
.khungsptop .homeproduct .feature
{
    width: 501px;
    height: 375px;
    border-right: 1px solid #eee;
}
.khungsptop .homeproduct li h3
{
    font-size: 14px;
    color: black;
}
.khungsptop ul li
{
    float: left;
    display: inline-block;
}
.khungsptop .homeproduct .feature1 .img-feature1
{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 25px;
    left: 35px;
}
.khungsptop .homeproduct .feature1 .img-feature1:hover
{
    
    top: 10px;
    
}
.khungsptop .homeproduct .feature1
{
    width: 247px;
    height: 375px;
    border-right: 1px solid #eee;
    position: relative;
}
ul li{
    list-style: none;
}
.carousel-inner .item .image-phone-small:hover
{
    margin-top: 35px;
}




.khungsp .khungspbottom {
    width: 103%;
    height: 376px;
    border-bottom: 1px solid #eee;
    /* background: blue; */
}
.khungspbottom .homeproduct .feature .img-feature
{
    width: 500px;
    height: 275px;
}
.khungspbottom .homeproduct .feature
{
    width: 501px;
    height: 375px;
    border-right: 1px solid #eee;
}
.khungspbottom .homeproduct li h3
{
    font-size: 14px;
    color: black;
}
.khungspbottom ul li
{
    float: left;
    display: inline-block;
    cursor: pointer;
}
.khungspbottom .homeproduct .feature1 .img-feature1
{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 25px;
    left: 35px;
}
.khungspbottom .homeproduct .feature1 .img-feature1:hover
{
    top: 10px;
}
.khungspbottom .homeproduct .feature1
{
    width: 247px;
    height: 375px;
    border-right: 1px solid #eee;
    position: relative;
}
.homeproduct .feature1 .information {
    padding-top: 220px;
    padding-left: 25px;
}
.homeproduct .price
{
    color: red;
}
.homeproduct .textinformation {
    padding-top: 8px;
    color: black;
}